@import url(https://fonts.googleapis.com/css?family=Assistant:300|Karla:400,400i,700,700i) @media (min-width:970px) and (max-width:2500px) {
    .container {
        width: 970px
    }
}

@font-face {
font-family: "rift";
src: url(https://use.typekit.net/ipu2smj.js);
}

@font-face {
font-family: "europa";
src: url(https://use.typekit.net/ipu2smj.js);
}



.navbar {

    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#welcomedesktop {

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.thumbnails3 {

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#griddy {

    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-rendering: geometricPrecision
}

body {
    font-family: europa, sans-serif;
    background-color: #14141D;
}

.jumbotron {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #14141D;
    width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #A0CC3A, #0FB197, #28AAE1, #3A5FAB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
}

.sr-only {
    background-color: transparent;
    color: #fff;
}



.navbar-toggle {
    background-color: transparent!important;
    border: none!important;
    border-radius: 0px!important;
    height: 38px;
    padding-bottom: 40px;
    color: #fff;
}

.navbar-toggle .icon-bar {
    border: 1px solid #fff;
}

#topRaccoonlogotext {
    font-family: "europa"
}

.example5 .navbar-brand {
    display: flex;
    align-items: center;
    color: black!important;
    font-family: europa;
    font-weight: 300;
    font-size: 30px;
    border: none!important;
}



.example5 .navbar-brand:hover {
    color: #FB3640!important
}

.example5 .navbar-brand img {
    padding: 7px 14px
}

.navbar-custom {
    color: #FFF;
    background-color: transparent!important;
    border: none!important;
    padding-top: 30px;
    font-weight: 100
}



.navbar-custom li a {
    font-family: 'rift';
    font-size: 20px;
    color: #fff!important;
    font-weight: 100
}

#gallerylink {
    font-weight: 600;
    border-bottom: 1px solid #727278;
    width: 54%;
    display: block;
    padding-bottom: 6px;
    margin: 0 16px auto;
    text-indent: -17px
}


#dribbblelink:hover {
    color: rgba(255,255,255,0.6)!important;
}


#bloglink:hover {
    color: rgba(255,255,255,0.6)!important;
}

#contactlink:hover {
    color: rgba(255,255,255,0.6)!important;
}

#casestudies:hover {
    color: rgba(255,255,255,0.6)!important;
}



#home {
    color: #EABA43;
    font-weight: 700;
    background-color: transparent;
}


.nav .navbar-nav .navbar-right {
    color: black!important
}


/**DESKTOP HEADER**/

#welcomedesktop {
   font-family: 'europa';
    font-size: 50px;
    color: rgba(255,255,255,0.5);
    font-weight: 100;
    text-align: left;
    line-height: 70px;
    margin-bottom: 20px;
    margin-top: 80px;
}

#welcomedesktop span {
    font-weight: 700;
    color: #fff;
}


.thumbnails3 {
    text-align: left;
    margin-bottom: 200px;
}

.thumbnails3 .thumbnail {
    display: inline-block;
    margin-right: 6px;
    border: none;
    height: 50px;
    width: 50px;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.0);
}






/**TABLET HEADER**/

#welcometablet {
    font-family: 'europa';
    font-size: 45px;
    color: rgba(255,255,255,0.5);
    font-weight: 100;
    text-align: left;
    line-height: 62px;
    padding-bottom: 20px;
    padding-top: 70px;
}

#welcometablet span {
    font-weight: 700;
    color: #fff;
}



/**MOBILE HEADER**/

#welcomemobile {
    font-family: 'europa';
    font-size: 40px;
    color: rgba(255,255,255,0.5);
    font-weight: 100;
    text-align: left;
    line-height: 57px;
    padding-bottom: 20px;
    padding-top: 30px;
}

#welcomemobile span {
   font-weight: 700;
    color: #fff;
}





/**INTRO**/

#intro {
    background-color: #14141D;
}

#intro-text {
    margin-top: 230px;
    text-align: left;
}

#intro-text h2 {
    font-family: 'rift';
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}

#intro-text p {
    font-size: 22px;
    font-family: europa;
    line-height: 39px;
    font-weight: 100;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #727278;
}


#intro-textmob {
    margin-top: 130px;
    text-align: left;
}

#intro-textmob h2 {
    font-family: 'rift';
    font-weight: 500;
    margin-bottom: 20px;
    text-align: left;
    font-size: 26px;
    color: #fff
}

#intro-textmob p {
    font-size: 17px;
    font-family: "europa";
    line-height: 27px;
    font-weight: 100;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: #727278;
}


#button-mob3 {
    width: 120px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #FBC010;
    background-color: rgba(251, 192, 16, 0);
    !important;
    color: #14141D;
    font-size: 16px;
    font-family: 'rift';
    font-weight: 100;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 150px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 40%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    display: block;
}

#button-mob3 a {
    color: #fff;
}




#gallery {
    background-color: #0E0E18;
}

#links {
    background-color: #0E0E18;
}

#griddy-2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

#line {
    height: 2px;
    background-color: black;
}

#button-big3 {
    width: 200px;
    height: 70px;
    border-radius: 3px;
    border: 1px solid #FBC010;
    background-color: rgba(251, 192, 16, 0);
    !important;
    color: #14141D;
    font-size: 18px;
    font-family: 'rift';
    font-weight: 100;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 250px;
    line-height: 40%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    display: block;
}

#button-big3 a {
    color: #fff;
}



#button-big4 {
    width: 200px;
    height: 70px;
    border-radius: 3px;
    border: 1px solid #FBC010;
    background-color: transparent;
    !important;
    color: #14141D;
    font-size: 18px;
    font-family: 'rift';
    font-weight: 100;
    margin-top: 60px;
    margin-bottom: 100px;
    line-height: 40%;
    text-transform: uppercase;
    letter-spacing: 3px
}




#contactme {
    text-align: center;
    background-image: image("pattern.png");
    background-repeat: repeat-y;
    background-color: #0E0E18
}

#button-big4 a {
    color: #fff
}

.item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, .45);
    -webkit-transition: background-color .55s ease-in-out;
    transition: background-color .55s ease-in-out
}

.item__overlay:focus,
.item__overlay:hover {
    background-color: rgba(17, 17, 17, .05)
}

.item__overlay:focus>button,
.item__overlay:hover>button {
    opacity: 1
}

.grid__sizer,
.grid__item {
    position: relative;
    width: 20%;
    min-width: 16.25rem
}

.grid__item {
    margin-bottom: .9375rem;
    border-radius: .25rem;
    overflow: hidden
}

.grid__item--high,
.grid__item--high img {
    height: 480px
}

img {
    width: 100%;
    max-width: 100%;
    height: auto
}

a,
.fa {
    color: #bbb;
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out
}

a:focus,
a:hover,
.fa:focus,
.fa:hover {
    text-decoration: none;
    color: #666
}

.active .fa {
    color: #f62459
}

.masonryImages {
    margin-bottom: 30px
}

#griddy {
    margin-top: 50px;
    margin-bottom: 20px
}

#orange {
    background-color: #14141D;
    width: 83%
}

#social-text {
    margin-top: 250px;
    text-align: left
}

#social-text h3 {
    font-family: 'rift';
    margin-bottom: 20px;
    text-align: left;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    color: #fff;
    font-weight: 100
}

#social-text ul {
    text-align: left;
    font-size: 40px;
    line-height: 70px;
    font-family: europa;
    font-weight: 100;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    margin-bottom: 240px;
    padding: 0
}

#social-text li {
    text-align: left;
    display: inline-block
}

#greenspan {
    color: #45B74D;
}

#turquoisespan {
    color: #0FB197;
}

#bluespan {
    color: #28AAE1;
}

#purplespan {
    color: #3A5FAB;
}

#pinkspan {
    color: #CC30AC;
}

#redspan {
    color: #ED2D26;
}

#bloodorangespan {
    color: #F05224;
}

#orangespan {
    color: #F47720;
}

#lightorangespan {
    color: #FBC010;
}

#yellowspan {
    color: #FCE80A;
}

#lightgreenspan {
    color: #A0CC3A;
}

#social-text li {
    list-style-type: none
}

#social-text span {
    padding-right: 30px
}

#line {
    height: 5px;
    background-color: #333
}

#footer {
    background-color: #14141D;
    width: 100%;
    font-family: "europa";
    font-weight: 400;
    font-size: 20px;
    color: #676767;
    outline: none!important
}

.thumbnails {
    text-align: left;
    margin-bottom: 230px;
    margin-top: 30px
}

.thumbnails .thumbnail {
    display: inline-block;
    margin: 0 0 4px;
    background-color: rgba(255, 255, 255, 0)!important;
    border: none!important;
    height: 60px;
    width: 60px;
    margin-bottom: 0
}

.thumbnails2 {
    text-align: right;
    margin-bottom: 100px;
    margin-top: 100px
}

.thumbnails2 .thumbnail {
    display: inline-block;
    margin: 0 4px;
    background-color: rgba(255, 255, 255, 0)!important;
    border: none!important;
    height: 70px;
    width: 70px;
    margin-bottom: 0
}

#signoff {
    margin-top: 100px;
    margin-bottom: auto;
    font-weight: 500;
    line-height: 35px;
    color: #FBC010;
    font-family: 'rift';
}

#signoff span {
    font-weight: 500;
    color: #727278;
    padding-bottom: 4px
}

#signoff span a {
    color: #333
}

#footertextmob {
    text-align: center;
    margin-top: color: #FBC010;
    font-family: 'rift';
}

#signoffmob {
    margin-top: 40px;
    margin-bottom: 150px;
    font-weight: 300;
    line-height: 35px;
    color: #FBC010;
    font-family: 'rift';
}

#signoffmob span {
    font-weight: 500;
    padding-bottom: 4px;
    color: #727278
}

.thumbnails2mob {
    text-align: center;
    margin-bottom: 0;
    margin-top: 100px
}

.thumbnails2mob .thumbnail {
    display: inline-block;
    margin: 0 4px;
    background-color: rgba(255, 255, 255, 0)!important;
    border: none!important;
    height: 70px;
    width: 70px;
    margin-bottom: 0
}

#rights {
    font-family: 'rift';
    font-weight: 100
}





.hvr-sweep-to-right3 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-sweep-to-right3:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #EABA43;
    border-radius: 2px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right3:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right3:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.btn:focus,.btn:active {
   outline: none !important;
}



button:focus,button:active {
   outline: none !important;
}







/* Outline In */
.hvr-outline-in-1 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-outline-in-1:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #fff solid 1px;
  border-radius: 5px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-in-1:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
  top: -0px;
  right: -0px;
  bottom: -0px;
  left: -0px;
  opacity: 1;
}




/* Outline In */
.hvr-outline-in-2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-outline-in-2:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #fff solid 1px;
  border-radius: 5px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-in-2:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
  top: -0px;
  right: -0px;
  bottom: -0px;
  left: -0px;
  opacity: 1;
}




/* Outline In */
.hvr-outline-in-3 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-outline-in-3:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #fff solid 1px;
  border-radius: 5px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-in-3:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
  top: -0px;
  right: -0px;
  bottom: -0px;
  left: -0px;
  opacity: 1;
}




/* Outline In */
.hvr-outline-in-4 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-outline-in-4:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #fff solid 1px;
  border-radius: 5px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-in-4:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
  top: -0px;
  right: -0px;
  bottom: -0px;
  left: -0px;
  opacity: 1;
}

